body {
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --heading-font-size: 6rem;
  --heading-font-size-600: 4rem;
  --heading-font-size-ios: 2.5rem;

  --heading-font-size-tablet: 6rem;
  --heading-font-size-desktop: 6rem;
}

.dark {
  background-color: rgb(12, 12, 12) !important;

  h1 {
    color: white;
  }
}

.container {
  top: 0;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  height: 60rem;
}

header {
  nav {
    font-family: "Poppins", sans-serif;
    padding: 1.5rem 0;
    background-color: rgb(12, 12, 12);
    top: 0;

    .spacing {
      top: 0;
      max-width: 1800px;
      width: 100%;
      margin: 0 auto;
      h1 {
        font-size: 2rem;
        color: white;
        float: left;
        margin-left: 5rem;
      }

      #mode {
        position: absolute;
        font-family: "Poppins", sans-serif;
        background-color: transparent;
        color: rgb(255, 250, 250);
        border: none;
        border-radius: 5px;
      }

      ul {
        display: flex;
        list-style-type: none;
        justify-content: right;
        padding: 0;
        margin: 0;

        li {
          font-size: 1.5rem;
          margin: 0.5rem 1rem;
          color: rgb(167, 187, 179);
        }
      }
    }
  }

  .container {
    margin: 10rem 20rem;
    width: 90vw;

    h1 {
      font-family: "Poppins", sans-serif;
      font-size: var(--heading-font-size);
      width: 80rem;

      span {
        color: rgb(63, 116, 95);
      }
    }

    .buttons {
      margin: 2rem auto;
      font-family: "Poppins", sans-serif;

      a {
        background-color: rgb(15, 15, 15);
        color: rgb(255, 250, 250);
        box-shadow: -0px 5px 5px rgb(15, 15, 15);
        text-decoration: none;
        margin: 0 0.2rem;
        padding: 1rem 2rem;
        border-radius: 3px;
        transition: 0.7s;
      }

      a:hover {
        background-color: rgb(255, 250, 250);
        color: rgb(15, 15, 15);
        box-shadow: -0px 5px 5px rgb(15, 15, 15);
        font-weight: bold;
        transition: 0.8s;
      }
    }
  }
}

section {
  background-color: white;

  .container {
    margin: 10rem 20rem;
    width: 90vw;
  }
}

footer {
  display: none;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  background-color: rgb(12, 12, 12);
  width: 100%;

  .boot {
    font-size: 2rem;
    color: white;
    float: left;
    margin-left: 5rem;
    margin: 1rem 5rem;

    h1 {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      color: white;
      float: left;
      margin-left: 5rem;
    }
  }
}

@media screen and (max-width: 1800px) {
  .container {
    margin: 3rem 2rem !important;

    h1 {
      font-size: var(--heading-font-size-600) !important;
      width: 50rem !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    nav {
      padding: 0.8rem 0 5rem 0;
      .spacing {
        ul {
          display: none;
        }
      }
    }
  }

  .container {
    margin: 3rem 2rem !important;

    h1 {
      font-size: var(--heading-font-size-600) !important;
      width: auto !important;
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    nav {
      .spacing {
        h1 {
          font-size: 2rem;
          margin: 0.7rem 2rem;
        }
      }
    }
    .container {
      margin: 3rem 2rem !important;

      h1 {
        font-size: var(--heading-font-size-ios) !important;
        width: auto !important;
      }
    }
  }
}
