body {
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --heading-font-size: 6rem;
  --heading-font-size-600: 4rem;
  --heading-font-size-ios: 2.5rem;
  --heading-font-size-tablet: 6rem;
  --heading-font-size-desktop: 6rem;
}

.transition {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark {
  background-color: #0c0c0c !important;
}

.dark h1 {
  color: white !important;
}

.dark button {
  color: white !important;
}

.dark li {
  color: white !important;
}

.container {
  top: 0;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  height: 60rem;
}

header nav {
  font-family: "Poppins", sans-serif;
  padding: 1.5rem 0;
  background-color: transparent;
  top: 0;
}

header nav .spacing {
  top: 0;
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

header nav .spacing h1 {
  font-size: 2rem;
  color: #0c0c0c;
  float: left;
  margin-left: 5rem;
}

header nav .spacing #mode {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: #0c0c0c;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

header nav .spacing ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 0;
  margin: 0;
}

header nav .spacing ul li {
  font-size: 1.5rem;
  margin: -1rem 1rem;
  color: #0c0c0c;
}

header .container {
  margin: 10rem 20rem;
  width: 90vw;
}

header .container h1 {
  font-family: "Poppins", sans-serif;
  font-size: var(--heading-font-size);
  width: 80rem;
}

header .container h1 span {
  color: #3f745f;
}

header .container .buttons {
  margin: 2rem auto;
  font-family: "Poppins", sans-serif;
}

header .container .buttons a {
  background-color: #0f0f0f;
  color: snow;
  -webkit-box-shadow: 0px 5px 5px #0f0f0f;
          box-shadow: 0px 5px 5px #0f0f0f;
  text-decoration: none;
  margin: 0 0.2rem;
  padding: 1rem 2rem;
  border-radius: 3px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header .container .buttons a:hover {
  background-color: snow;
  color: #0f0f0f;
  -webkit-box-shadow: 0px 5px 5px #0f0f0f;
          box-shadow: 0px 5px 5px #0f0f0f;
  font-weight: bold;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

section {
  background-color: white;
}

section .container {
  margin: 10rem 20rem;
  width: 90vw;
}

footer {
  display: none;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  background-color: #0c0c0c;
  width: 100%;
}

footer .boot {
  font-size: 2rem;
  color: white;
  float: left;
  margin-left: 5rem;
  margin: 1rem 5rem;
}

footer .boot h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: white;
  float: left;
  margin-left: 5rem;
}

@media screen and (max-width: 1800px) {
  .container {
    margin: 3rem 2rem !important;
  }
  .container h1 {
    font-size: var(--heading-font-size-600) !important;
    width: 50rem !important;
  }
}

@media screen and (max-width: 1200px) {
  header nav {
    padding: 0.8rem 0 5rem 0;
  }
  header nav .spacing ul {
    display: none;
  }
  .container {
    margin: 3rem 2rem !important;
  }
  .container h1 {
    font-size: var(--heading-font-size-600) !important;
    width: auto !important;
  }
}

@media screen and (max-width: 600px) {
  header nav .spacing h1 {
    font-size: 2rem;
    margin: 0.7rem 2rem;
  }
  header .container {
    margin: 3rem 2rem !important;
  }
  header .container h1 {
    font-size: var(--heading-font-size-ios) !important;
    width: auto !important;
  }
}

button {
  border: none;
  background-color: transparent;
}
/*# sourceMappingURL=index.css.map */